# coding: utf-8

# SIRC
N_LINES = 32
SIRC_PORT = 2354
SIRC_URL = 'http://neria.kr:%d/' % SIRC_PORT
SIRC_DB = 'sirc'
SIRC_DB_USE_AUTH = True
SIRC_DB_USER = 'sirc'
SIRC_DB_PASS = 'sirc'
NOTIFY_NAME = '!'

# IRC
SERVER = 'irc.uriirc.org'
PORT = 16667
BOT_NAME = 's'
OPERATOR_NAME = 'sgm'
OPERATOR_COMMAND = '!옵'

# Cookie keys
SESSION_ID = 'SIRC_SESSION_ID'
TOKEN_SECRET = 'OAUTH_TOKEN_SECRET'
OAUTH_PROVIDER = 'OAUTH_PROVIDER'

# OAuth
OAUTH = {
    'snucse': {
        'CONSUMER_KEY': '',
        'CONSUMER_SECRET': '',
        'REQUEST_URL': 'https://www.snucse.org/app/RequestToken',
        'AUTHORIZE_URL': 'https://www.snucse.org/app/Authorize',
        'ACCESS_URL': 'https://www.snucse.org/app/AccessToken',
        'PREFIX': '+'
    },
    'twitter': {
        'CONSUMER_KEY': '',
        'CONSUMER_SECRET': '',
        'REQUEST_URL': 'https://api.twitter.com/oauth/request_token',
        'AUTHORIZE_URL': 'https://api.twitter.com/oauth/authenticate',
        'ACCESS_URL': 'https://api.twitter.com/oauth/access_token',
        'PREFIX': '@'
    }
}
CALLBACK_URL = '%scallback/' % SIRC_URL
