# coding: utf-8

# SIRC
N_LINES = 32
SIRC_PORT = 2354

# IRC
SERVER = 'irc.uriirc.org'
PORT = 16667
BOT_NAME = 's'

# OAuth 
CONSUMER_KEY = ''
CONSUMER_SECRET = ''

# OAuth URLs
REQUEST_URL = 'https://www.snucse.org/app/RequestToken'
CALLBACK_URL = 'http://neria.kr:%d/callback/' % SIRC_PORT
AUTHORIZE_URL = 'https://www.snucse.org/app/Authorize'
ACCESS_URL = 'https://www.snucse.org/app/AccessToken'

# Cookie keys
SESSION_ID = 'SIRC_SESSION_ID'
TOKEN_SECRET = 'OAUTH_TOKEN_SECRET'
