@charset "utf-8";

div.datetime { font-size:8px; text-align:center; float:left; line-height:1; color:#666666; }
div.source { float:left; margin:0px 5px; }
span.nick { font-weight:bold; }
div.message { word-wrap:break-word; }
ul#log li { padding:5px !important; font-weight:normal; border-color:#efefef; }
input#message.disabled { color:#cdcdcd; }

